<div class="featured-product">
    <div class="container">
        <div class="section-header">
            <h3>ERROR!</h3>
            <h4 class="alert alert-danger text-center">
                {{{message}}}
            </h4>
        </div>
    </div>
</div>